*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.cabecalho {
    background-color: #8A8686;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#827C7C,#827C7C);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #8A8686;
    text-align: center;
}

.rodape-imagen{
    height: 60px;
    padding: 12px 0;
}